.pointer {
  cursor: pointer;
}
.neumorphism {
  background: #efeeee;
  border: none;
  border-radius: 20px;
  box-shadow: -6px -6px 16px rgba(255,255,255,0.83),
    6px 6px 16px rgba(217, 210, 200, 0.51);
  padding: 10px;
  font-size: 14px;
  color: #dcdada;
  cursor: pointer;
}
.neumorphism:hover {
  color: #b7b7b7;
}
.neumorphism:active {
  box-shadow: inset -6px -6px 16px rgba(255,255,255,0.83),
    inset 6px 6px 16px rgba(217, 210, 200, 0.51);
  color: #b7b7b7;
}